<body>
  <header>
    <nav class="nav--container">
      <ul class="nav--list">
        <li>
          <a class="nav--list__link" href="/">Home</a>
        </li>
        <li>
          <a class="nav--list__link" href="/add-product">Add Product</a>
        </li>
      </ul>
    </nav>
  </header>