<body>
 <header>
    <nav class="nav--container">
      <ul class="nav--list">
        <li>
          <a class="nav--list__link" href="/">Home</a>
        </li>
        <li>
          <a class="nav--list__link" href="/products">Products</a>
        </li>
        <li>
          <a class="nav--list__link" href="/cart">My Cart</a>
        </li>
        <li>
          <a class="nav--list__link" href="/orders">Orders</a>
        </li>
        <li>
          <a class="nav--list__link" href="/admin/add-product">Add Product</a>
        </li>
        <li>
          <a class="nav--list__link" href="/admin/edit-product">Edit Product</a>
        </li>
      </ul>
    </nav>
  </header>