<%- include('includes/head.ejs') %> 
<%- include('includes/navigation.ejs') %>
<main class="add-product--main">
  <form action="/add-product" method="POST" class="form--container">
    <div class="form--item">
      <label for="title">Title</label>
      <input type="text" id="title" name="title" />
    </div>
    <button type="submit" class="form--action">Add Product</button>
  </form>
</main>
</body>
</html>